@external gwt-MenuBar, gwt-PopupPanel, gwt-MenuItem, gwt-MenuItemSelected;
a:hover {
	text-decoration: underline;
}

.gwt-MenuBar {
	border: 0;
}

.gwt-PopupPanel {
	background-color: #E9E9E9;
	border: 1px solid #BBBBBB;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.gwt-MenuItem {
	background-color: #E9E9E9;
	padding: 1px 3px;
}

.gwt-MenuItemSelected {
	background-color: #BBBBBB;
}