
/** HABLAR PAGE COMMON **/

.hablar-Page {
    background-color: #E9E9E9;
    border: 3px solid #E9E9E9;
}

.hablar-Page .panel {
    width: 100%;
    overflow: hidden;
    background-color: #E9E9E9;
}
.hablar-Page .scroll {
    background-color: white;
    border-left: 1px solid #BBBBBB;
    /* This border affects scroll visibility */
    border-top: 1px solid #BBBBBB;
}

.hablar-Page .list {
    width: 100%;
    overflow: hidden;
}

.hablar-Page .gwt-Button {
    font-size: 75%;
}


/** SEARCH PAGE **/
.hablar-SearchPage .searchBox {
	width: 78%;
    padding: 3px;
    border: 1px solid #BBBBBB;
    margin-right: 1%;
}
.hablar-searchPage .gwt-Button {
	width: 20%;
}


/** OVERLAY **/

.hablar-Overlay {
	background-color: black;
	opacity: 0.8;
	z-index: 3000;
	color: white;
}

.hablar-Overlay .form {
	margin: 10px;
}

/** FORMS **/

.form p {
	width: 100%;
	overflow: hidden;
}
.form p label {
	display: block;
	float: left;
	margin-right: 10px;
	width: 6em;
	margin-right: 0.5em;
	text-align: right;
}
.form p .gwt-Label {
	float: left;
	font-weight: bold;
}
.form .actions {
	margin-top: 10px;
	border-top: 1px solid #BBBBBB;
	padding-top: 10px;
}
.form .gwt-TextBox {
	border: 0px;
	padding: 2px;
}



.hablar-PopupPanel {
    background-color: #E9E9E9;
    border: 1px solid #BBBBBB;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 3px;
}

.chat-message-body-incoming {
}

.chat-message-body-sent {
  color: #808080;
}