/** HABLAR PAGE COMMON **/
.hablar-Page {
	background-color: #E9E9E9;
	border: 3px solid #E9E9E9;
}

.hablar-Page .panel {
	width: 100%;
	overflow: hidden;
	background-color: #E9E9E9;
}

.hablar-Page .scroll {
	background-color: white;
	border-left: 1px solid #BBBBBB;
	/* This border affects scroll visibility */
	border-top: 1px solid #BBBBBB;
}

.hablar-Page .list {
	width: 100%;
	overflow: hidden;
}

.hablar-Page .gwt-Button {
	font-size: 75%;
}

/** DISABLED PANEL **/
.hablar-Page .disabledPanel {
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	background-color: #BBBBBB;
	border-left: 1px solid #8C8C8C;
	border-top: 1px solid #8C8C8C;
}

.hablar-Page .disabledPanel .disabledMessage {
	display: block;
	text-align: center;
	width: 100%;
	padding-top: 2em;
	color: #E9E9E9;
}

/** HABLAR HEADER **/
.hablar-Header {
	width: 100%;
	overflow: hidden;
	background-color: #E9E9E9;
	cursor: pointer;
	padding: 3px 0;
	border-top: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9;
}

.hablar-Header .icon {
	float: left;
	margin: 0 3px 0 3px;
}

.hablar-Header .title {
	display: block;
	margin: 0 3px;
}

.hablar-Header .close {
	float: right;
}

.hablar-AccordionHeaderWidget .close {
	margin: -16px 3px 0 0;
}
.hablar-TabsHeaderWidget .close {
	margin: 2px 3px;
}
.hablar-AccordionHeader .close {
	margin: 2px 3px 0 0;
}

.hablar-AccordionHeader .icon {
	
}

.hablar-AccordionHeader .title {
	display: block;
}


.hablar-AccordionHeaderWidget.notFocused {
	border-top: 1px solid #E9E9E9;
	border-bottom: 1px solid #BBB;
}


.hablar-AccordionHeaderWidget.focused {
	border-top: 1px solid white;
	border-bottom: 1px solid #BBB;
}

.hablar-TabsHeaderWidget .title {
	display: inline;
	margin-right: 20px;
}

.hablar-TabsHeaderWidget.notFocused {
	border-top: 1px solid #E9E9E9;
	border-left: 1px solid #BBB;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	margin-right: -1px;
}

.hablar-TabsHeaderWidget.focused {
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid #E9E9E9;
}

/** DOCKS **/
.hablar-RosterDockContainer-top {
	background-color: #BBB;
	z-index: 300;
}

.hablar-Header.DockHeaderWidget-top {
	background-color: #BBB;
	border: 1px solid #BBB;
}

/** LOGIN **/
.hablar-Login .output {
	padding: 3px;
	background-color: white;
	border-left: 1px solid #BBBBBB;
	border-top: 1px solid #BBBBBB;
}

/** LIST ITEMS **/
.hablar-ListItem {
	display: block;
	width: 100%;
	overflow: hidden;
	padding: 5px 0px 0 0px;
	border-bottom: 1px solid #E9E9E9;
	cursor: pointer;
}

/** USER **/
.hablar-UserWidget {
	padding: 0px 10px;
}

.hablar-UserWidget .hablar-Header {
	background-color: #BBB;
	margin-top: 15px;
}

.hablar-UserWidget .hablar-Header.focused,.hablar-UserWidget .hablar-Header.notFocused
	{
	background-color: #BBB;
	border-bottom: 1px solid #EFEFEF;
	border-top: 1px solid #BBB;
}

/** ROSTER **/
.hablar-RosterWidget .item {
	width: 100%;
	overflow: hidden;
}

.hablar-RosterWidget .actions {
	width: 100%;
	overflow: hidden;
}

.hablar-RosterWidget .actions .gwt-Label {
	float: left;
	padding: 1px;
	border: 1px solid #E9E9E9;
	margin-right: 3px;
}

.hablar-RosterWidget .actions div.gwt-Label:hover {
	
}

div.hablar-RosterItemWidget:hover {
	background-color: #E9E9E9;
}

.hablar-RosterItemWidget .user {
	float: left;
}

.hablar-RosterItemWidget .icon {
	display: block;
	float: left;
	margin: 2px 5px 2px 2px;
	width: 16px;
	height: 16px;
}

.hablar-RosterItemWidget .name {
	display: block;
	float: left;
	cursor: pointer;
	margin-right: 5px;
}

.hablar-RosterItemWidget .jid {
	float: left;
	display: block;
	color: #BBB;
}

.hablar-RosterItemWidget .menu {
	float: right;
}

.hablar-RosterItemWidget .status {
	display: block;
	margin: 0 0 2px 25px;
	color: gray;
}

/** CHAT PAGE **/
.hablar-ChatWidget .talkBox {
	width: 100%;
	margin: 3px 0;
	padding: 3px;
	height: 54px;
	border: 1px solid #BBBBBB;
}

.hablar-ChatWidget .chatMessage {
	display: block;
	width: 94%;
	overflow: hidden;
	padding: 3px 3% 0 3%;
}

.hablar-ChatWidget .author {
	display: block;
	float: left;
	font-weight: bold;
}

.hablar-ChatWidget .body {
	margin-left: 10px;
	float: left;
}

.hablar-ChatWidget .actions div {
	float: right;
}


/** SEARCH PAGE **/
.hablar-Search .searchBox {
	width: 78%;
	padding: 3px;
	border: 1px solid #BBBBBB;
	margin-right: 1%;
}

.hablar-Search .gwt-Button {
	width: 20%;
}

/** LOGGER **/
.hablar-Logger {
	border: 3px solid #E9E9E9;
}

.hablar-Logger .gwt-Label {
	border-bottom: 1px solid #E9E9E9;
	background-color: white;
	opacity: 0.5;
}

.hablar-Logger .gwt-Label.ready {
	opacity: 1;
}

.hablar-Logger .output {
	color: blue;
}

.hablar-Logger .input {
	color: #0c0;
}

/** OVERLAY **/
.hablar-Overlay {
	background-color: black;
	opacity: 0.7;
	z-index: 3000;
	color: white;
}

.hablar-Overlay .form {
	margin: 50px 10px 10px 10px;
}

/** FORMS **/
.form p {
	width: 100%;
	overflow: hidden;
	margin: 3px 0;
}

.form p label {
	display: block;
	float: left;
	margin-top: 2px;
	margin-right: 10px;
	width: 6em;
	margin-right: 0.5em;
	text-align: right;
}

.form p .gwt-Label {
	float: left;
	font-weight: bold;
}

.form .actions {
	padding-left: 6.5em;
	margin-top: 5px;
	border-top: 1px solid #BBBBBB;
	padding-top: 5px;
}

.form .gwt-TextBox,.form .gwt-PasswordTextBox {
	border: 0px;
	padding: 2px;
}

.hablar-PopupPanel {
	background-color: #E9E9E9;
	border: 1px solid #BBBBBB;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	padding: 3px;
}

.chat-message-body-incoming {
	
}

.chat-message-body-sent {
	color: #808080;
}