.nogwt-TabLayoutPanelTab .title {
	float: left;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	width: 75px;
	height: 1em;
	margin-right: 5px;
}

.nogwt-TabLayoutPanelTab {
	width: 140px;
}