/* ChatWidget */

.chat {
	border: 1px solid #E9E9E9;
}

.list {
	width: 100%;
	overflow: auto;
}

.talker {
	background-color: #E9E9E9;
}

.talkBox {
	width: 100%;
	padding: 3px;
	height: 54;
	border: 3px solid #BBBBBB;
}

/* ChatMessage */
