.panel {
	border-top: 1px solid #BBBBBB;
	padding: 5px 1% 3px 1%;
}

.message {
	border-bottom: 1px solid #BBBBBB;
	padding: 5px 1% 3px 1%;
}

.result {
	padding: 5px 0;
	display: block;
	width: 100%;
	overflow: hidden;
	background-color: white;
	border-bottom: 1px solid #e9e9e9;
}

.resultName {
	display: block; float: left;
	margin-left: 20px;
}



.info {
	color: #BBBBBB;
}

.alert {
	color: #c00;
}

.success {
	color: #090;
}

.unfocus {
	color: #E9E9E9;
}

.focus {
	color: black;
}