.panel {
	border-top: 1px solid #BBBBBB;
	padding: 5px 1% 3px 1%;
}

.message {
	border-bottom: 1px solid #BBBBBB;
	padding: 5px 1% 3px 1%;
}





.info {
	color: #BBBBBB;
}

.alert {
	color: #c00;
}

.success {
	color: #090;
}

.unfocus {
	color: #E9E9E9;
}

.focus {
	color: black;
}