/* LoginWidget */
.login {
	border: 3px solid #E9E9E9;
}

.credentials {
	padding: 3px 5px;
	background-color: #E9E9E9;
	border-bottom: 1px solid #BBBBBB;
}

.label {
	display: block;
	margin: 0;
	padding: 0 0 0 3px;
}

.box {
	padding: 2px;
	display: block;
	border: 1px solid #BBBBBB;
	margin: 0 0 3px 0;
}

.output {
	overflow: auto;
}

/* Status Message */
.message {
	display: block;
	width: 100%;
	overflow: hidden;
}

.icon {
	display: block;
	float: left;
	width: 19px;
	height: 16px;
}

.body {
	display: block;
	float: left;
}