/** RosterWidget */
.important {
	font-weight: bold;
}

.roster {
	border: 3px solid #E9E9E9;
}

.list {
	width: 100%;
	overflow: hidden;
	background-color: white;
}

.panel {
	width: 100%;
	overflow: hidden;
	background-color: #E9E9E9;
}

.questionPanel {
	border-bottom: 1px solid #BBBBBB;
}

.textBox {
	width: 100%;
	padding: 3px;
	border: 3px solid #BBBBBB;
}

.buddyBox {
	width: 90%;
	margin: 4px 5%;
	border: 1px solid gray;
	padding: 2px;
}

.actionIcon {
	display: block;
	float: left;
	width: 20px;
	height: 16px;
	margin: 3px 5px 0 3px;
}

.questionBody {
	color: gray;
	display: block;
	height: 2.5em;
}

.actions {
	width: 100%;
	overflow: hidden;
}

.action {
	float: left;
	margin-right: 6px;
}

/** RosterItemWidget */
.item {
	display: block;
	width: 100%;
	overflow: hidden;
	padding: 5px 3px 0 3px;
	border-bottom: 1px solid #E9E9E9;
	height: 20px;
}

.icon {
	display: block;
	float: left;
	width: 19px;
	height: 16px;
	margin-left: 3px;
}

.name {
	display: block;
	float: left;
	cursor: pointer;
}