/** PagesPanel */
.status {
	background-color: #E9E9E9;
	padding-left: 3px;
	color: gray;
}

/** PageHeader */
.header {
	width: 100%;
	overflow: hidden;
	cursor: pointer;
	/*background-color: #E9E9E9;*/
	background-color: #e9e9e9;
	height: 22px;
	overflow: hidden;
	margin-right: 3px;
	border-top: 1px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-bottom: 1px solid #E9E9E9;
}

.accHeader {
	border-bottom: 1px solid #BBBBBB;
	border-top: 1px solid white;
}	
	

.title {
	width: 100%; margin-left: 19px;
	padding: 3px;
	display: block;
}

.icon {
	display: block;
	float: left;
	width: 19px;
	margin: 3px 0 0 3px;
}


.close {
	display: block;
	float: right;
	margin: -17px 0 0 -22px;
	width: 16px;
	height: 16px;
}



.pageHeader {
	width: 100%;
	overflow: hidden;
}

.active { /*font-weight: bold;*/ /*background-color: orange;*/
	
}

.open { /*cursor: default;*/ /*font-weight: bold;*/
	
}