@external gwt-MenuBar, gwt-PopupPanel, gwt-MenuItem, gwt-MenuItemSelected;
a:hover {
    text-decoration: underline;
}

.gwt-MenuBar {
    border: 0;
}

.gwt-MenuItem {
    background-color: #E9E9E9;
    padding: 1px 3px;
}

.gwt-MenuItemSelected {
    background-color: #BBBBBB;
}