.base { vertical-align: middle; }
@sprite .alien { gwt-image: "alien";}
@sprite .andy { gwt-image: "andy";}
@sprite .angel { gwt-image: "angel";}
@sprite .angry { gwt-image: "angry";}
@sprite .bandit { gwt-image: "bandit";}
@sprite .blushing { gwt-image: "blushing";}
@sprite .bulletBlack { gwt-image: "bulletBlack";}
@sprite .bulletStar { gwt-image: "bulletStar";}
@sprite .cool { gwt-image: "cool";}
@sprite .crying { gwt-image: "crying";}
@sprite .devil { gwt-image: "devil";}
@sprite .grin { gwt-image: "grin";}
@sprite .happy { gwt-image: "happy";}
@sprite .heart { gwt-image: "heart";}
@sprite .joyful { gwt-image: "joyful";}
@sprite .kissing { gwt-image: "kissing";}
@sprite .lol { gwt-image: "lol";}
@sprite .love { gwt-image: "love";}
@sprite .ninja { gwt-image: "ninja";}
@sprite .pinched { gwt-image: "pinched";}
@sprite .policeman { gwt-image: "policeman";}
@sprite .pouty { gwt-image: "pouty";}
@sprite .sad { gwt-image: "sad";}
@sprite .sick { gwt-image: "sick";}
@sprite .sideways { gwt-image: "sideways";}
@sprite .sleeping { gwt-image: "sleeping";}
@sprite .smile { gwt-image: "smile";}
@sprite .surprised { gwt-image: "surprised";}
@sprite .tongue { gwt-image: "tongue";}
@sprite .uncertain { gwt-image: "uncertain";}
@sprite .unsure { gwt-image: "unsure";}
@sprite .w00t { gwt-image: "w00t";}
@sprite .whistling { gwt-image: "whistling";}
@sprite .wink { gwt-image: "wink";}
@sprite .wizard { gwt-image: "wizard";}
@sprite .wondering { gwt-image: "wondering";}