.page {
	background-color: #E9E9E9;
	border: 3px solid #E9E9E9;
}

.contents {
	background-color: white;
	height: 100%;
	overflow: auto;
}

.panel {
	width: 100%;
	overflow: hidden;
	background-color: #E9E9E9;
}

.textBox {
	width: 98%;
	padding: 3px;
	border: 1px solid #BBBBBB;
}

.list {
	width: 100%;
	overflow: hidden;
	background-color: white;
	border-left: 1px solid #BBBBBB;
    border-top: 1px solid #BBBBBB;
	
}

.icon {
	display: block;
	float: left;
	width: 19px;
	height: 16px;
	margin-left: 3px;
}

.btnLink {
	display: block;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}