<!DOCTYPE suite SYSTEM "<a class="linkification-ext" href="http://testng.org/testng-1.0.dtd" title="Linkification: http://testng.org/testng-1.0.dtd">http://testng.org/testng-1.0.dtd</a>" >
<test name="Suite1">
  <groups>
    <run>
      <include name="functest"/>
    </run>
  </groups>
  <classes>
    <class name="com.calclab.hablar.client.selenium.LoginNGTest"/>
    <class name="com.calclab.hablar.client.selenium.SearchTest"/>
  </classes>
</test>